.chat-room {
    width: 500px;
    height: 500px;
    background-color: thistle;
}

.chat-content {
    height: 400px;
    width: 480px;
    margin: 10px;
    background-color: black;
}

.chat-input button{
    width: 50px;
}

.text-input {
    width: 400px;
}