body {
    background-color: lightcoral;
    background-color: firebrick;
    color: lightcoral;
    display: flex;
    justify-content: center;
}

.app {
    display: block;
}

.fake-chat-room {
    background-color: thistle;
    background-color: lightslategray;
    padding: 20px;
    margin: 20px;
    height: 100px;
    width: 650px;
}

.garbage {
    display: block;
}